services:
  cassandra:
    image: cassandra:3.11.11
    hostname: cassandra
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe keyspaces" ]
      interval: 5s
      timeout: 5s
      retries: 60
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_DC: USE1

  cqlsh:
    image: cassandra:3.11.11
    entrypoint: bash -c "sleep 35 && echo loading cassandra keyspace && cqlsh cassandra -f /schema.cql && echo 'Docker ready'"
    volumes:
      - ./data/cassandra/schema.cql:/schema.cql
    depends_on:
      cassandra:
        condition: service_healthy

  cassandra-web:
    build: ./
    image: ipushc/cassandra-web:latest
    depends_on:
      - cassandra
    ports:
      - 80:80
    environment:
      HOST_PORT: ":80"
      CASSANDRA_HOST: cassandra
      CASSANDRA_PORT: 9042
      CASSANDRA_USERNAME: cassandra
      CASSANDRA_PASSWORD: cassandra
    restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:latest
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://0.0.0.0:9092,CONTROLLER://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      CLUSTER_ID: test-cluster-id-12345
    ports:
      - "9092:9092"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    ports:
      - "8080:8080"

  kafka-init:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - kafka
    entrypoint: [ "/bin/sh", "-c" ]
    command: |
      "
      # Wait for Kafka to be ready
      echo 'Waiting for Kafka to be ready...'
      /usr/bin/kafka-broker-api-versions --bootstrap-server kafka:29092 --version
      while [ $$? -ne 0 ]; do
        sleep 5
        /usr/bin/kafka-broker-api-versions --bootstrap-server kafka:29092 --version
      done
      echo 'Kafka is up!'

      # Create the topic
      echo 'Creating Kafka topic: account_updates_topic'
      /usr/bin/kafka-topics --create --topic account_updates_topic --bootstrap-server kafka:29092 --partitions 1 --replication-factor 1 --if-not-exists
      echo 'Topic creation command executed.'
      "

  psql:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: accounts-db
    ports:
      - "5555:5432"

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8083:8080"
    depends_on:
      - psql

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  grafana:
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - ./monitoring/grafana/provisioning/datasources/datasources.yml:/etc/grafana/provisioning/datasources/ds.yaml

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml